@import '../../variables';

.content {
    margin-top: 100px;

    &_first {
        width: 40%;

        @include mobile {
            width: 100%;
        }

        p {
            margin-bottom: $gutter * 4;
        }
    }

    &_second {
        width: 50%;
    }
}

.imgBg {
    position: absolute;
    top: -7%;
    left: 50%;
}

.imgBg2 {
    position: absolute;
    top: 0;
    left: 60%;
    @include mobile {
        position: absolute;
        top: -35px;
        left: 0;
        width: 100%;
    }
}


