@import '../../variables';

.section {
    min-height: 700px;
    height: auto;

    &.a {
        background-color: $neutral3;
    }

    &.b {
        background-color: $neutral2;
    }

    .container {
        min-height: inherit;
        display: flex;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }

        .images {
            @include mobile {
                align-self: end;
            }
        }

        &.adv {
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
        }
    }

    h1 {
        font-size: 58px;
        font-weight: $light;
        color: $primary;
        margin-bottom: $gutter * 4;

        @include mobile {
            font-size: 38px;
        }
    }

    h2 {
        font-size: 42px;
        font-weight: $light;
        color: $primary;
        margin-bottom: $gutter * 4;

        @include mobile {
            font-size: 28px;
        }
    }

    p {
        color: $neutral1;
        font-weight: $regular;
        line-height: 28px;
    }
}