@import './variables';

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none !important;
  color: unset !important;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background: unset;
  outline: none;
}

body {
  margin: 0;
  font-family: $family;
  font-size: $f-size;
  font-weight: $light;

  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 ($gutter * 4);

  @include mobile {
    max-width: $mobile;
  }
}

.mb_hide {
  @include mobile {
    display: none;
  }
}

.dt_hide {
  @include desktop {
    display: none;
  }
}

.tb_hide {
  @include tablet {
    display: none;
  }
}

.mb_tb_hide {
  @include mobile-tablet {
    display: none;
  }
}
